<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory >
    
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/easycart?useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">3awebsite</property>
        <!-- 
        <property name="hibernate.connection.url">jdbc:mysql://45.79.94.187:3306/easycart?useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">3awebsite</property>
         -->
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!--  是否显示SQL  -->
	    <property name="hibernate.show_sql">false</property>
	    <property name="hibernate.format_sql">false</property>
	    <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
	   
	    <property name="hibernate.c3p0.acquire_increment">2</property>
	    <!-- 定时回收空闲连接 -->
	    <property name="hibernate.c3p0.idle_test_period">120</property>
	    <!-- 最大连接数 --> 
	    <property name="hibernate.c3p0.max_size">20</property>
	    <!-- 最小连接数 --> 
	    <property name="hibernate.c3p0.min_size">5</property>
	    <property name="hibernate.c3p0.max_statements">100</property>
	    <!-- 获得连接的超时时间,如果超过这个时间,会抛出异常，单位毫秒 --> 
	    <property name="hibernate.c3p0.timeout">5000</property>
	    
	    <mapping class="com.easycart.db.entity.User"/>
		<mapping class="com.easycart.db.entity.Cart"/>
		<mapping class="com.easycart.db.entity.Comment"/>
	    <mapping class="com.easycart.db.entity.Company"/>
		<mapping class="com.easycart.db.entity.Customer"/>
		<mapping class="com.easycart.db.entity.FromAddress"/>
		<mapping class="com.easycart.db.entity.Menu"/>
		<mapping class="com.easycart.db.entity.MenuAttr"/>
		<mapping class="com.easycart.db.entity.Order"/>
		<mapping class="com.easycart.db.entity.OrderRecord"/>
		<mapping class="com.easycart.db.entity.Product"/>
		<mapping class="com.easycart.db.entity.ProductAttr"/>
		<mapping class="com.easycart.db.entity.ProductBrand"/>
	    <mapping class="com.easycart.db.entity.ProductImg"/>
	    <mapping class="com.easycart.db.entity.Reply"/>
	    <mapping class="com.easycart.db.entity.ToAddress"/>
	    <mapping class="com.easycart.db.entity.Banner"/>
	    
    </session-factory>
</hibernate-configuration>
