.footer{
	background: #ebebeb;
	/*height: 200px;*/
	font-size: 12px;
}
.footer p{
	line-height: 16px;
}
.footer_link li{
	padding: 4px 0;
}
.footer_link a{
	/*padding: 5px 0;*/
	color: #5e5e5e;
}
.footer_link a:hover{
	color: #101010;
}
