/* ========== */
/* = header = */
/* ========== */

.top_bar li{
	cursor: pointer;
}
.top_bar li a{
	color: #454545 !important;
}
.search_bar{
}
.search_aa{
	height: 30px;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
}
.search_input{
	width: 60%;
	border: none;
	height: 27px;
	font-size: 12px;
	background: #ebebeb;
	color: #9d9d9d;
}
.search_bar .input_img{
	/*margin-top:10px ;*/
}

.search_cart{
	margin-top: -10px;
}

.headIcon{
	cursor: pointer;
	margin-top: 5px;
	/*background: red;*/
	color: #c05100;
	font-size: 20px;
}
/* ========== */
/* = header3 = */
/* ========== */

.menu{
	padding-top: 0px;
	padding-bottom:0px ;
}
#header3 {
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	
	.ulF .each_menu1{
		width: 100%;
		height: 40px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		color: #c05100 !important;
		/*background: #f0c103;*/
	}
	
	#ulFcontainer {
		/*width: 1200px;*/
		margin: 0 auto;
		display: flex;
		justify-content: flex-end;
		/**
		background: purple;
		**/
	}
	
	.liF {
		/*width: 90px;*/
		padding: 0 10px;
		/*background: red;*/
		
		line-height: 40px;
		font-size: 22px;
		cursor: pointer;
		text-align: center;
	}
	
	/*.liF:hover {
		background: #f2ce39;
	}
	.liF:hover a {
		color: black;
	}
	*/
	.ulC {
		width: 100%;
		display: none;
		position: absolute;
		top: 40px;
		left: 0;
	}
	
	.ulF li:hover ul {
		display: block;
		/*color: black;*/
	}
	
	.navInner {
		/*width: 1400px;*/
		width: 100%;
		height: 225px;
		background: #f6f6f6;
		opacity: 0.9;
		position: relative;
		/*待调*/
		z-index: 99;
		color: red;
		display: flex;
	}
	.navInner_FC{
	/*width: 80%;*/
	width: 1200px;
	margin: 0 auto;
	 /*background: red;*/
	 display: flex;	
	 justify-content: flex-end;
	}
	
	.navInnerContainer {
		padding:20px 0;
		height: 180px;
		/*margin: 0 200px;*/
		/*margin: 0 14%;*/
		width: 280px;
		margin: 0 4%;
		/*background: yellow;*/
		display: flex;
		flex-flow: column wrap;
	}
	
	.navInnerContainer .each_menu2 {
		width: 120px;
		border-left: 4px solid rgba(255,255,255,0);
		/*background: pink;*/
		height: 20px;
		/*display: inline-block;*/
		/*margin-right:50px ;*/
		margin-bottom:20px ;
		padding-left: 15px;
		line-height: 20px;
		text-align: left;
		font-size: 16px;
	}

	.navInnerContainer .each_menu2:hover {
		border-left: 4px solid #c05100;
		/*background: red;*/
		color: #c05100;
	}
	
