
.containerList {
	width: 1200px;
	margin: 0 auto;
	/*height: 100px;background: red;*/
}

.sort {
	/*height: 160px;*/
	/*background: red;*/
}

.sortGrade {
	font-size: 14px;
	height: 90px;
	color: #535353;
	background: white;
	padding: 0 15px;
	line-height: 90px;
}

.sortBrand {
	height: 100px;
	border: 1px solid #E6E6E6;
	display: flex;
	align-items: center;
	/*background: greenyellow;*/
}

.sortBrandA {
	width: 88px;
	text-align: center;
	/*background: red;*/
	line-height: 30px;
	color: #707070;
	font-size: 14px;
}

.sortLine {
	height: 80px;
	width: 1px;
	background: #E6E6E6;
	/*background: green;*/
}

.sortDetailF {
	/*background: yellow;*/
	width: 100%;
	/*width: 800px;*/
	height: 60px;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	padding: 10px 30px;
	/*background: red;*/
}

.sortDetail {
	/*display: block;*/
	width: 120px;
	height: 25px;
	/*background: red;*/
	line-height: 25px;
	font-size: 14px;
}

.White25 {
	height: 25px;
	width: 100px;
}

.listInfor {
	width: 100%;
	display: flex;
}

.listLeft {
	/*background: red;*/
	padding-bottom:55px ;
	width: 250px;
	height: 100%;
	border: 1px solid #E6E6E6;
}

.listLeftTop {
	padding: 20px;
	font: 18px #434343;
}

.listLeftLine {
	width: 220px;
	height: 1px;
	background: #E6E6E6;
	margin: 0 auto 40px auto;
}

.listLeftP {
	height: 130px;
	/*background: red;*/
	margin-bottom: 40px;
	display: flex;
	/*flex-flow:column;*/
	/*justify-content: center;*/
	align-items: center;
	padding: 10px;
	border-left: 3px solid white;
}

.listLeftP:hover {
	border-left: 3px solid #c05100;
}

.ListLeftImg {
	width: 90px;
	height: 90px;
	/*background: gray;*/
	margin: 10px;
	display: flex;
	justify-content: center;
}


.ListLeftImg img {
	height: 90px;
}

.listLeftD {
	width: 110px;
	/*width: 100%;*/
	height: 70px;
	padding: 10px 0;
	line-height: 14px;
	font-size: 12px;
	color: #313131;
	/*background: green;*/
	display: flex;
	flex-flow: column;
	align-items: center;
}


.listRight {
	width: 900px;
}

.listRightBar {
	height: 40px;
	background: #E6E6E6;
	display: flex;
	align-items: center;
	padding: 0 15px;
}

.lrBarTitle {
	margin: 0 15px;
	line-height: 40px;
	color: #434343;
	font-size: 12px;
	cursor: pointer;
}

.lrBarTitle:HOVER {
	color: #F0C103;
}

.listRightVessel {
	width: 100%;

	display: flex;
	flex-wrap: wrap;
}

.lrvEach {
	 /*background: red;*/ 
	width: 225px;
	height: 297px;
	border-bottom: 3px solid white;
	font-size: 12px;
	color: #313131;
	align-items: center;
	line-height: 25px;
	display: flex;
	justify-content: center;
	flex-flow: column;
}

.lrvEach img {
	width: 200px;
}

.lrvEach:hover {
	border-bottom: 3px solid #c05100;
}

.lrveImg {
	padding: 10px;
}

.lrvePrice {
	color: #C81623;
}