/*banner*/

.focus {
	/*width: 1200px;*/
	height: 542px;
	/*height: 510px;*/
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.focus ul {
	height: 380px;
	position: absolute;
}

.focus ul li {
	float: left;
	/*width: 1200px;*/
	/*width: 100%;*/
	height: 522px;
	overflow: hidden;
	position: relative;
	background: #000;
}

.focus ul li div {
	position: absolute;
	overflow: hidden;
}

.focus .btnBg {
	position: absolute;
	height: 20px;
	left: 0px;
	bottom: 0;
	background: #000;
	/*background: red;*/
	display: none;
}

.focus .btn {
	position: absolute;
	height: 12px;
	padding: 0px 10px 0px 10px;
	right: 50%;
	/*right:0px;*/
	bottom: 30px;
	text-align: right;
}

.focus .btn span {
	display: inline-block;
	-display: inline;
	-zoom: 1;
	width: 12px;
	height: 12px;
	background: #434343;
	border-radius: 12px;
	line-height: 11px;
	text-align: center;
	-font-size: 0;
	margin-left: 5px;
	cursor: pointer;
	margin: 0px 5px 0px 5px;
	/*background: #fff;*/
}

.focus .btn span.on {
	background: #434343;
}

.focus .preNext {
	width: 45px;
	height: 100px;
	position: absolute;
	top: 250px;
	background: url(../../sprite.png) no-repeat 0 0;
	cursor: pointer;
	z-index: 999;
	opacity: 0;
	transition: 0.7s;
}

.focus:hover .preNext {
	opacity: 0.3;
}

.focus .preNext:hover {
	opacity: 0.5;
}

.focus .pre {
	left: 0;
}

.focus .next {
	right: 0;
	background-position: right top;
}


/*bnner end*/


/* = 3img = */
.3img{
}
.thumb_nail{
	text-align: center;
	/*margin: 0 auto;*/
}
.thumb_nail h3{
	color: #8f8f8f;
}


/* = promotion = */
.prom_label{
	text-align: center;
	line-height: 40px;
	font-size:30px ;
}

.pic ul li {
text-align: center;
}

.pic ul li img {
	width: 263px;
	
}
.pic ul li div {
	display: block;
	
}

.pic li:hover img {
	opacity: 0.7;
}

.productName {
	font-size: 12px;
	line-height: 18px;
}

.productPrice {
	margin: 5px;
	font-size: 14px;
	color: #c81623;
}

/* = brand = */

/* = top button = */
#ToTop {
	position: fixed;
	right: 60px;
	bottom: 100px;
	display: none;
	/*transition: all 0.5s;*/
}

/* = 滚动 = */

.marquee {height:335px;overflow:hidden;}
.marquee li{ display:inline; float:left; margin-left: 10px;}
.marquee li a{ color: inherit;  display:block; float:left; text-align:center; font-size:14px;}
.marquee li a:hove{ text-decoration:none;}
.marquee li img { }
.marquee li em{font-style: normal; height:24px; line-height:24px; display:block; margin-top:8px;}

/* = brand = */
.brand img{ 
display: inline-block;}
.brand div{
	padding: 20px 0;
	/*height: 84px;*/
}


/* = brand = */
.product_hover{
	border: 1px solid white !important;
	transition: all 0.5s;
}
.product_hover:hover{
	margin-top:-3px ;
	margin-bottom:3px ;
	border: 1px solid #c81623 !important;
}
