

img {
	cursor: pointer;
}

li {
	list-style: none;
}
textarea{resize:none}

a{
    text-decoration: none;
}
ol,ul {
    list-style:none;
}
textarea{resize:none}
button{
    cursor: pointer;
}
#about_container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 90px;
}
.brand_pic{
    margin-top: 20px;
}
.line_about{
    width: 1px;
    height: 245px;
    background: #aaaaaa;
    margin-left: 90px;
    margin-right: 50px;
}
.brand_content{
    max-width: 690px;
    margin-top: 10px;
    color:  #59493f;
    font-size: 12px;
    line-height: 24px;
}