

img {
	cursor: pointer;
}

li {
	list-style: none;
}
textarea{resize:none}

a{
    text-decoration: none;
}
ol,ul {
    list-style:none;
}
textarea{resize:none}
button{
    cursor: pointer;
}

#container{
    width: 1200px;
    margin: 0 auto;
}
.title{
    font-size: 20px;
    color: #535353;
    padding-top: 42px;
    padding-bottom: 16px;
}
.line{
    width: 1200px;
    height: 1px;
    background-color: #aaaaaa;
}
.c_info{
    text-align: right;
    margin-top: 21px;
}
.c_text{
    color: #535353;
    font-size: 18px;
}
.c_amount{
    color: #C05100;
    font-size: 18px;
    padding-left: 40px;
}
.content{
    display: flex;
    justify-content: center;
}
#transfer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#subtitle1{
    color: #C05100;
    font-size: 24px;
    margin-top: 86px;
    margin-bottom: 26px;
    cursor: pointer;
}
#shortline1{
    width: 425px;
    height: 5px;
    background-color: #C05100;
}
#bank_info{
	margin-top: 81px;
    font-size: 20px;
	height:52px;
    color: #535353;
	line-height:52px;
    
}
#online{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#subtitle2{
    color: #535353;
    font-size: 24px;
    margin-top: 86px;
    margin-bottom: 26px;
    cursor: pointer;
}
#shortline2{
    width: 425px;
    height: 5px;
    background-color: #e6e6e6;
}
.confirm_button {
    margin-top: 81px;
    width: 164px;
    height: 52px;
    background-color: #C05100;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}