html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	cursor: default;	
		/*font-family: "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Noto Sans CJK SC", "Source Han Sans CN", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;*/
	
	font-family:AdobeHeitiStd-Regular;
	/*font-size: 16px;*/
}
li {list-style: none;}
a:link    {text-decoration: none;}
a:visited {text-decoration: none !important;}
a:hover   {text-decoration: none !important;cursor: pointer;}
a:active  {text-decoration: none;}

/* ========== */
/* = 调试 = */
/* ========== */
.red{background: red;}
.green{background: green;}
.yellow{background: yellow;}
.pink{background: pink;}

/* ========== */
/* = 预设 = */
/* ========== */
/*站位*/
.cant_see{visibility: hidden;}
/*浮动*/
.float_L{float: left;}
.float_R{float: right;}
.clear{clear: both;}
/*剧中*/
.center{margin: 0 auto;}
.mid{vertical-align: middle;}
.flex1{flex: 1;}
/*长度高度*/
.w10{width:10px}
.w20{width:20px}
.w50{width:50px}
.w90{width:90px}
.w100{width:100px}
.w200{width:200px}
.w250{width:250px}
.w500{width:500px}
.w800{width:800px}
.w1000{width:1000px}
.w1200{width:1200px}
.w{width:100%}
.h5{height:5px}
.h20{height:20px}
.h30{height:30px}
.h40{height:40px}
.h50{height:50px}
.h80{height:80px}
.h100{height:100px}
.h200{height:200px}
.h{height:100%}

/*边距*/
.m0{margin: 0 !important;}
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt25{margin-top:25px}
.mt50{margin-top:50px}
/*.mt100{margin-top:100px}*/
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb50{margin-bottom:50px}
/*.mb100{margin-bottom:100px}*/
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
/*.ml100{margin-left:100px}*/
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr50{margin-right:50px}
/*.mr100{margin-right:100px}*/
.p0{padding: 0 !important;}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pt100{padding-top:100px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
/*.pb100{padding-bottom:100px}*/
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}
.pl50{padding-left:50px}
/*.pl100{padding-left:100px}*/
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr50{padding-right:50px}
/*.pr100{padding-right:100px}*/



/* ========================== */
/* =  private = */
/* ========================== */
a{ color: #959595;}

.private_bg_gray{
	background: #e1e1e1;
}
.private_bg_black{
	background: #333333;
}
.private_font_color{
color: #454545 !important;
}
.private_p{
 color: #5a5a5a;
 line-height: 36px;
}
.private_f18{
	font-size: 18px;
}
.private_h1{
	font-size: 30px;
	color: #000097;
}
.private_h2{
	font-size: 18px;
	font-weight: 900;
	 line-height: 36px;
}

.private_fweight{
	font-weight: bolder !important;
}
.private_underline{
	text-decoration: underline !important;
}
