html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	font-family: "AdobeFanHeitiStd" "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Noto Sans CJK SC", "Source Han Sans CN", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
	/*letter-spacing: 1px;*/
}

li {
	list-style: none;
}

#containerRP {
	width: 1200px;
	margin: 0 auto;
	/*height: 5000px;*/
	/*background: gray;*/
}

#section1 {
	height: 90px;
	/*background: red;*/
	/*background: #FFFFFF;*/
	font-size: 20px;
	line-height: 90px;
	padding: 0 15px;
}

#section2 {
	width: 100%;
	/*background: cyan;*/
	display: flex;
}

.orderLeft {
	width: 186px;
	/*height: 444px;*/
	/*background: yellow;*/
}

.orderRight {
	width: 970px;
	/*height: 444px;*/
	/*background: purple;*/
	/*	border: 2px solid #E6E6E6;*/
}

.orderBar {
	height: 60px;
	background: #E6E6E6;
	font-size: 16px;
	color: #535353;
	line-height: 60px;
	padding: 0 30px;
	display: flex;
}

.orderBar div {
	margin: 0 5px;
}

.orderNav {
	/*background: bisque;*/
	padding: 30px;
}

.orderNavH {
	cursor: pointer;
	line-height: 30px;
}

.orderNavCh {
	margin: 10px 15px;
}

.orderNavCh li {
	margin: 0;
	line-height: 18px;
	font-size: 14px;
}

.orderRight {
	/*background: red;*/
	display: flex;
}

.White {
	height: 140px;
	/*background: yellow;*/
	flex: 1;
}

.rePassword {
	width: 700px;
	height: 680px;
	/*background: red;*/
}

.rpWay {
	cursor: pointer;
	display: flex;
	color: #626262;
}

#rpway1 {
	border-bottom: 5px solid #F0C103;
	flex: 1;
	height: 78px;
	font-size: 18px;
	line-height: 78px;
	text-align: center;
	color: #F0C103;
}

#rpway2 {
	border-bottom: 5px solid #E6E6E6;
	flex: 1;
	height: 78px;
	font-size: 18px;
	line-height: 78px;
	text-align: center;
}

.rpWayInfor {
	/*background: yellowgreen;*/
	width: 100%;
	height: 595px;
	font-size: 14px;
	color: #626262;
}

.rpWayInfor1 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.rpiDetail {
	height: 87px;
	width: 495px;
	border-bottom: 2px solid #E6E6E6;
	/*line-height: 87px;*/
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/*background: red;*/
}

.rpiLabel {
	width: 345px;
	/*background: gray;*/
	height: 86px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.rpiLabelC {
	height: 40px;
	line-height: 40px;
	/*background: yellow;*/
	width: 100px;
	/*transition: 1s;*/
}

.rpiInput {
	font-size: 20px;
	outline: none;
	border: none;
	width: 270px;
	/*height: 45px;*/
	height: 0px;
	/*display: none;*/
	/*background: red;*/
	transition: 0.2s;
}

.rpiSend {
	width: 140px;
	height: 55px;
	background: #E6E6E6;
	font-size: 12px;
	color: #626262;
	line-height: 55px;
	text-align: center;
	cursor: pointer;
	/*margin: 0 10px;*/
}

.rpBtn {
	width: 135px;
	height: 40px;
	background: #F0C103;
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.rpWayInfor2 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	/*background: red;*/
}

#rpw1 {
	/*display: none;*/
	display: block;
}

#rpw2 {
	display: none;
	/*display: block;*/
}