
li {
	list-style: none;
}

#containerRP {
	width: 1200px;
	margin: 0 auto;
	/*height: 5000px;*/
	/*background: gray;*/
}

#section1 {
	height: 90px;
	/*background: red;*/
	font-size: 20px;
	line-height: 90px;
	padding: 0 15px;
}

#section2 {
	width: 100%;
	/*background: cyan;*/
	display: flex;
}

.orderLeft {
	width: 186px;
	/*background: yellow;*/
}

.orderRight {
	width: 970px;
}

.orderBar {
	height: 60px;
	background: #E6E6E6;
	font-size: 16px;
	color: #535353;
	line-height: 60px;
	padding: 0 30px;
	display: flex;
}

.orderBar div {
	margin: 0 5px;
}

.orderNav {
	/*background: bisque;*/
	padding: 30px;
}

.orderNavH {
	cursor: pointer;
	line-height: 30px;
}

.orderNavCh {
	margin: 10px 15px;
}

.orderNavCh li {
	margin: 0;
	line-height: 18px;
	font-size: 14px;
}

.orderRight {
	/*background: red;*/
	display: flex;
}

.White {
	height: 140px;
	/*background: yellow;*/
	flex: 1;
}

.rePassword {
	width: 700px;
	height: 680px;
	/*background: red;*/
}

.rpWay {
	cursor: pointer;
	color: #626262;
}

#rpway1 {
	border-bottom: 5px solid #C05100;
	flex: 1;
	height: 78px;
	width: 560px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 78px;
	text-align: center;
	/*background: yellow;*/
	color: #C05100;
}

.rpWayInfor {
	/*background: yellowgreen;*/
	width: 100%;
	height: 595px;
	font-size: 14px;
	color: #626262;
}

.rpWayInfor1 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.rpiDetail {
	height: 87px;
	width: 495px;
	border-bottom: 2px solid #E6E6E6;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/*background: red;*/
}

.rpiLabel {
	width: 345px;
	/*background: gray;*/
	height: 86px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.rpiLabelC {
	height: 40px;
	line-height: 40px;
	/*background: yellow;*/
	width: 100px;
}

.rpiInput {
	border: none;
	font-size: 20px;
	width: 270px;
	height: 45px;
	/*background: red;*/
	background: #E6E6E6;
}

.rpBtn {
	width: 135px;
	height: 40px;
	background: #C05100;
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.rpBtnF {
	width: 360px;
	height: 40px;
	display: flex;
}