<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../resources/admin/css/admin_product.css" th:href="@{/resources/admin/css/admin_product.css}" />
		<link rel="stylesheet" type="text/css" href="../../resources/admin/css/admin_header_footer.css" th:href="@{/resources/admin/css/admin_header_footer.css}" />
		<script src="../../resources/jquery/jquery-2.2.1.min.js" th:src="@{/resources/jquery/jquery-2.2.1.min.js}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		          
		    //表单检查
		    function checkForm(){
				if($("#multipartFile").val()=="" || $("#url").val()=="" ){
					return false;
				}
			}
			//更新
			function updateBanner(id){
				if(!confirm("confirm？")){
					return false;
				}
				$.ajax({
					url: [[@{/admin/banner/update/}]]+id,
					method: "GET",
					data: { 
						"url" : $("#url_"+id).val(),
						"title" : $("#title_"+id).val(),
						"type" : $("#type_"+id).val(),
						},
				}).done(function(ret){
					window.location.reload();
				}).fail(function(ret){
					alert("Update failed");
				});
			}
			//删除
			function deleteBanner(id){
				if(!confirm("confirm？")){
					return false;
				}
				$.ajax({
					url: [[@{/admin/banner/delete/}]]+id,
					method: "GET",
					data: { 
						},
				}).done(function(ret){
					window.location.reload();
				}).fail(function(ret){
					alert("Update failed");
				});
			}
		
			
			/*]]>*/	
		</script>
		<style type="text/css">
			.companyInfo{
				display:flex;
				flex-direction:column;
			}
			.companyInfo div{
				padding:5px; 
				display: flex;
				align-items:center;
			}
			.companyInfo input{
				width: 300px;
				height: 30px;
			}
		</style>
	</head>

	<body>

		<!-- 引入title -->
		<div th:include="/admin/admin_header :: admin_headerFragement"></div>

		<div id="apContainer">
			<aside class="aside">
				<div class="aNav" style="background: #FFFFFF;color:#427AB8;">Advertising </div>
			</aside>
			<div class="flex1"></div>
			<section>
				<div style="height: 30px;"></div>
					<div class="companyInfo" >
						<div th:each="banner:${bannerList}">
							<img src="#" width="200px;" th:src="|@{/}${banner.imgHref}|" />
							<input th:id="|url_${banner.id}|" th:value="${banner.url}"/>&nbsp;
							<input th:id="|title_${banner.id}|" th:value="${banner.title}"/>&nbsp;
							<select th:id="|type_${banner.id}|"  style="height: 30px;">
								<option value="indexBanner" th:selected="${banner.type=='indexBanner'}?1:0">Index Banner</option>
							</select>&nbsp;
							<input style="width:65px;" type="button" value="update" th:onclick="|updateBanner(${banner.id})|" />&nbsp;
							<input style="width:65px;" type="button" value="delete" th:onclick="|deleteBanner(${banner.id})|" />&nbsp;
						</div>
						
						<form action="#" th:action="@{/admin/banner/save}" onsubmit="retun checkForm()" method="post" th:object="${banner}" enctype="multipart/form-data">
							<div>
								<input id="multipartFile" name="multipartFile" style="width:200px;" type="file"/>
								<input id="url" name="url" placeholder="URL" />&nbsp;
								<input id="title" name="title" placeholder="Title" />&nbsp;
								<select th:id="type" style="height: 30px;">
									<option value="indexBanner">Index Banner</option>
								</select>&nbsp;
								<input style="width:65px;" type="submit" th:value="submit" ></input>
							</div>
						</form>
					</div>
			</section>

			<div class="flex1"></div>
		</div>

		<!-- 引入title -->
		<div th:include="/admin/admin_footer :: admin_footerFragement"></div>

	</body>

</html>