<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../resources/web/css/footer.css" th:href="@{/resources/web/css/header.css}" />
		<link rel="stylesheet" type="text/css" href="../resources/web/css/public.css" th:href="@{/resources/web/css/public.css}"/>
		<link rel="stylesheet" type="text/css" href="../resources/web/css/bootstrap.min.css" th:href="@{/resources/web/css/bootstrap.min.css}"/>
		<script src="../resources/jquery/jquery-2.2.1.min.js" th:src="@{/resources/jquery/jquery-2.2.1.min.js}" type="text/javascript" charset="utf-8"></script>
		<script src="../resources/web/js/bootstrap.min.js" th:src="@{/resources/web/js/bootstrap.min.js}" type="text/javascript" charset="utf-8"></script>
	
	</head>

	<body>
		<div th:fragment="footerFragement">
			<section class="footer container-fluid mt25">
				<div class="container h100  pt15 " >
					<div class="row">
					<div class="col-xs-3 col-md-3">
						<label>Main Shop市區總店</label>
						<p>65 Wakefield Street, Auckland C.B.D.<br /> Tel : 0064-9-3031619 <br />
								 Fax : 0064-9-3031608 <br /> Email : info@royaldeer.co.nz</p>
								 
						<label>Howick 分店</label>
						 <p>Shop 5/16 Gooch PI,<br /> Meadowland.Howick <br /> Tel : 09-537-1109 </p>
					</div>
					<div class="col-xs-3 col-md-3">
						<label>Botany  South 分店</label>
						<p>Shop 8/14 Bishop Lenihan PI,<br /> East Tamaki<br /> Tel : 0064-9-2651100 </p>
						<label>Glenfield 分店</label>
						 <p>31 Link Drive, <br /> Glenfield
								<br /> Tel : 09-912-8831
							</p>
					</div>
					<div class="col-xs-2 col-md-2">
						<label>Northcote 分店</label>
						<p>15 Pearn Place,<br /> Northcote Shopping Centre<br /> Tel : 09-480-3151 </p>
					</div>
					<div class="col-xs-4 col-md-2">
						<div class="col-xs-6">
							<label for="">關於我們</label>
							<ul class="footer_link mt25">
								<li>
								<a th:href="@{/about/us/}">
									關於我們
								</a>
							</li>
							<li>
								<a th:href="@{/about/policy/}">
									售後政策
								</a>
							</li>
							<li>
								<a th:href="@{/about/product_returns/}">
									退貨條款
								</a>
							</li>
							<li>
								<a th:href="@{/about/state/}">
									退款說明
								</a>
							</li>

							<li>
								<a th:href="@{/about/exceptions/}">
									免責條款
								</a>
							</li>
							</ul>
						</div>
						<div class="col-xs-6 ">
							<label for="">訂單相關</label>
							<ul class="footer_link mt25">
								<li>
								<a th:href="@{/customer/order/}">
									訂單查詢
								</a>
							</li>
							<li>
								<a th:href="@{/customer/}">
									忘記密碼
								</a>
							</li>
							<li>
								<a th:href="@{/about/freight/}">
									運費細則
								</a>
							</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-md-2 ">
						<img class="float_R img-responsive pr10 pb15" src="../resources/web/img/new/unionpay.png" th:src="@{/resources/web/img/new/unionpay.png}" alt="" />
						<img class="float_R img-responsive" src="../resources/web/img/new/qr_code.png" th:src="@{/resources/web/img/new/qr_code.png}" alt="" />
					</div>
				</div>
				</div>
				<div class="clear h20"></div>
				<div class="m15 h40" >
					
					<p class="text-center">Copyright © 2016 Royal Deer of New Zealand Ltd 版權所有. <a target="_blank" href="https://www.matricle.com">Powered by Matricle</a>
						<br /> 鹿皇土產- 紐西蘭大型禮品連鎖店</p>
				</div>
			</section>
			

		</div>
	</body>

</html>